#TituloConversor {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.conversor-form {
    margin : auto auto;
    width: 450px;
    padding: 20px;
    border: 2px solid #000000;
    border-radius: 10px;
    background-color: #f5f5f5;
}

body {
    background-color: rgb(82, 69, 82);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#moedaDe , #moedaPara, #valor {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
    text-align: center;
    font-weight: bold;
    color: #333333;
    background-color: #e0e0e0;
    transition: border-color 0.3s;
}

#moedaDe:focus, #moedaPara:focus, #valor:focus {
    border-color: #080808;
    outline: none;
}

.caixa-resultado {
    margin-top: 20px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #ffffff;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    color: #333333;
}

#botaoConverter {
    width: 100%;
    padding: 10px;
    background-color: #2371b1;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

#botaoConverter:hover {
    background-color: #158bb9;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    text-align: center;
    transform: scale(1.02);
    transition: 100ms all;
}

